In [1]:
import os
from glob import glob
import pandas as pd
import numpy as np
import matplotlib as mp

ModuleNotFoundError: No module named 'pandas'

In [ ]:
# Get all csv files from the datasets folder
# https://perials.com/getting-csv-files-directory-subdirectories-using-python/
PATH = "./datasets"
EXT = "*.csv"
all_csv_files = []
for path, subdir, files in os.walk(PATH):
    for file in glob(os.path.join(path, EXT)):
        all_csv_files.append(file)

In [ ]:
# Display all csv files in datasets directory
all_csv_files

['./datasets/sales_week_starting_2013-01-07.csv',
 './datasets/sales_week_starting_2012-12-24.csv',
 './datasets/sales_week_starting_2012-12-31.csv',
 './datasets/sales_week_starting_2013-04-22.csv',
 './datasets/sales_week_starting_2012-10-08.csv',
 './datasets/sales_week_starting_2012-10-22.csv',
 './datasets/sales_week_starting_2013-04-08.csv',
 './datasets/sales_week_starting_2013-06-24.csv',
 './datasets/sales_week_starting_2013-08-19.csv',
 './datasets/sales_week_starting_2013-03-04.csv',
 './datasets/sales_week_starting_2013-03-11.csv',
 './datasets/sales_week_starting_2013-01-28.csv',
 './datasets/sales_week_starting_2013-01-14.csv',
 './datasets/sales_week_starting_2013-08-26.csv',
 './datasets/sales_week_starting_2013-09-02.csv',
 './datasets/sales_week_starting_2013-05-06.csv',
 './datasets/sales_week_starting_2012-11-05.csv',
 './datasets/sales_week_starting_2013-05-13.csv',
 './datasets/sales_week_starting_2013-02-18.csv',
 './datasets/sales_week_starting_2013-07-29.csv',
 './datasets/sales_week_starting_2013-07-15.csv',
 './datasets/sales_week_starting_2013-07-01.csv',
 './datasets/sales_week_starting_2012-11-12.csv',
 './datasets/sales_week_starting_2013-02-25.csv',
 './datasets/sales_week_starting_2013-09-09.csv',
 './datasets/sales_week_starting_2013-05-20.csv',
 './datasets/sales_week_starting_2013-05-27.csv',
 './datasets/sales_week_starting_2012-11-19.csv',
 './datasets/sales_week_starting_2013-07-22.csv',
 './datasets/sales_week_starting_2013-02-11.csv',
 './datasets/sales_week_starting_2012-11-26.csv',
 './datasets/sales_week_starting_2013-07-08.csv',
 './datasets/sales_week_starting_2013-02-04.csv',
 './datasets/sales_week_starting_2012-12-10.csv',
 './datasets/sales_week_starting_2012-10-15.csv',
 './datasets/sales_week_starting_2012-10-01.csv',
 './datasets/sales_week_starting_2012-10-29.csv',
 './datasets/sales_week_starting_2013-06-10.csv',
 './datasets/sales_week_starting_2013-04-01.csv',
 './datasets/sales_week_starting_2013-04-15.csv',
 './datasets/sales_week_starting_2013-04-29.csv',
 './datasets/sales_week_starting_2013-03-25.csv',
 './datasets/sales_week_starting_2012-12-17.csv',
 './datasets/sales_week_starting_2012-12-03.csv',
 './datasets/sales_week_starting_2013-03-18.csv',
 './datasets/sales_week_starting_2013-01-21.csv',
 './datasets/sales_week_starting_2013-08-05.csv',
 './datasets/sales_week_starting_2013-06-03.csv',
 './datasets/sales_week_starting_2013-06-17.csv',
 './datasets/sales_week_starting_2013-08-12.csv']

In [ ]:
# Read in a file from the datasets folder
file_path = "./datasets/sales_week_starting_2012-10-01.csv"
df = pd.read_csv(file_path)
df

                sale_time purchaser_gender
0     2012-10-01 01:42:22           female
1     2012-10-01 02:24:53           female
2     2012-10-01 02:25:40           female
3     2012-10-01 02:30:42           female
4     2012-10-01 02:51:32             male
...                   ...              ...
3540  2012-10-07 22:27:11           female
3541  2012-10-07 22:42:23           female
3542  2012-10-07 22:42:31           female
3543  2012-10-07 23:04:24           female
3544  2012-10-07 23:37:56           female

[3545 rows x 2 columns]

In [ ]:
# Testing that repo is actually set up for real this time